<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>

</head>
<body>
<div align="center">

    <div>
        <H1>This Is Home Page</H1>
    </div>
    <div>
        <h3><a th:href="@{/register}">Register</a></h3>
        <h3><a th:href="@{/login}">Register</a></h3>
        <h3><a th:href="@{/trainer-register}">Register</a></h3>
        <h3><a th:href="@{/trainer-login}">Register</a></h3>
    </div>
</div>

</body>
</html>